OCR_SERVICE_URL=http://127.0.0.1:8090
OCR_SERVICE_TOKEN=yerel-pilotta-degistirin
ARCHIVE_ADMIN_EMAILS=arsiv.yoneticisi@sivas.bel.tr
PADDLEOCR_DEVICE=cpu
PADDLEOCR_ENABLE_MKLDNN=false
PADDLEOCR_CPU_THREADS=4
PADDLEOCR_DET_LIMIT_SIDE_LEN=1600
PADDLEOCR_REC_SCORE_THRESH=0.35
PADDLEOCR_PREPROCESS=auto
